<%= form_for(@mixtape) do |f| %>
  <% if @mixtape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mixtape.errors.count, "error") %> prohibited this mixtape from being saved:</h2>

      <ul>
      <% @mixtape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <!-- list all songs with checkboxes to add to the current mixtape -->

   	<ul>
  <% @allsongs.each do |s| %>
  <li>
	<%= f.label s.name %>
	<%= f.check_box s.id %>
	<br/>
	</li> 
  <%end%>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
